/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

table {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-bottom: 20px;
}

.search {
    width: 28%;
    margin: 13% 36% 11% 36%;
}

.select {
    height: 30px;
}