{% extends "layout.html" %}

{% block title %}
    Акаунт
{% endblock %}

{% block main %}

    <form action="/changepassword" method="post">
        <div class="mb-3"><input type="password" placeholder="Введіть старий пароль" name="old_password"></div>
        <div class="mb-3"><input type="password" placeholder="Введіть новий пароль" name="new_password"></div>
        <div class="mb-3"><input type="password" placeholder="Повторіть новий пароль" name="confirmation"></div>
        <input type="submit" value="Змінити">
    </form>

{% endblock %}